html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline;
}

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: arial, sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

ins,
a {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: inline-block;
}

input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none;
}

* {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px;
}

html,
body,
.wrap {
  width: 100%;
  height: 100%;
}

.wrap {
  display: flex;
  flex-direction: column;
  font-size: 0.37333rem;
  background: #E9E9E9;
}

.tit {
  width: 100%;
  height: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 0 0.26667rem;
  box-sizing: border-box;
}

.account {
  width: 100%;
  display: flex;
  height: 2.13333rem;
  border-bottom: 0.02667rem solid #C8C8CC;
  align-items: center;
  padding: 0 0.26667rem;
  box-sizing: border-box;
  background: white;
  margin-top: 0.26667rem;
}

.account i {
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background: #E9E9E9;
  text-align: center;
  line-height: 1.6rem;
  font-size: 1.06667rem;
  color: #D1D1D1;
}

.account a {
  color: black;
  padding-left: 0.26667rem;
}

.list {
  width: 100%;
  flex: 1;
}

.list ul {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.list ul li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 0.26667rem;
  box-sizing: border-box;
  background: white;
}

.list ul li span:nth-child(1) {
  width: 100%;
  display: flex;
}

.list ul li span:nth-child(1) i:nth-child(1) {
  flex: 1;
  padding: 0.53333rem 0;
  font-size: 0.53333rem;
}

.list ul li span:nth-child(1) i:nth-child(2) {
  flex: 9;
  padding: 0.53333rem 0;
  border-bottom: 0.02667rem solid #C8C8CC;
  padding-left: 0.16rem;
}

.list ul li span:nth-child(2) {
  padding: 0.53333rem 0;
  border-bottom: 0.02667rem solid #C8C8CC;
}

.list ul li span:nth-child(2) i {
  color: #C9C9CD;
}
